<!--
Hunter Ahlquist
5/8/2021

gets information of the new user
-->

<!doctype html>
<html lang="en">
<include href="views/header.html"></include>
<body>
<include href="views/nav.html"></include>
    <div class="d-flex justify-content-center">
        <div class="mainBody row rounded">
            <div class="container-flex input-area">
                <div class="row">
                    <div class="col-sm-12">
                        <h1 class="display-3">Account Information</h1>
                        <hr>
                    </div>
                </div>
                <form action="#" method="post" class="form-horizontal">
                <div class="row">
                    <div class="col-sm-9">

                            <div class="col-sm-10">
                                <label for="firstname" class="control-label">First name</label>
                                <input class="form-control" type="text" name="firstname" id="firstname">
                            </div>
                            <div class="col-sm-10">
                                <label for="lastname" class="control-label">Last name</label>
                                <input class="form-control" type="text" name="lastname" id="lastname">
                            </div>
                            <div class="col-sm-10">
                                <label for="budget" class="control-label">Budget</label>
                                <input class="form-control" type="text" name="budget" id="budget">
                            </div>
                            <div class="col-sm-10">
                                <label class="control-label">Processor brand preference</label></br>
                                <input type="radio" name="cpu-brand"
                                       id="AMD"
                                       value="AMD"> AMD</br>
                                <input type="radio" name="cpu-brand"
                                       id="Intel"
                                       value="Intel"> Intel</br>
                                <input type="radio" name="cpu-brand"
                                       id="Any"
                                       value="Any"> Any</br>
                            </div>
                            <div class="col-sm-10">
                                <label for="email" class="control-label">Email</label>
                                <input class="form-control" type="text" name="email" id="email">
                            </div>


                    </div>
                    <div class="col-sm-3">
                        <div class="jumbotron privacy-notice">
                            <b>Note: </b> All information entered is subject to our <a href="privacy">privacy policy</a>,
                            and will not be
                            publicly shared.
                        </div>

                    </div>
                </div>
                <input class="btn btn-primary btn-lg float-right" type="submit" value="Next">
                </form>
            </div>

        </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>

