<include href="views/header.html"></include>
<body>
<include href="views/nav.html"></include>
    <div class="d-flex justify-content-center">
        <div class="mainBody row rounded">
            <div class="col-6 text-center">
                <h1 class="display-3">Prebuilt Pros</h1>
                <p class="container h5 font-weight-normal">Welcome to Prebuilt Pros; where you tell us what you do,
                    and we get you the best bang-for-your-buck desktop or laptop. As opposed to regular pre-built desktops,
                    we use all standard parts with room to upgrade and expand.</p>
                </br>
                <h4>Hear what our clients are saying</h4>
                <hr/>
                <blockquote class="container rec blockquote">
                    <p class="mb-10">
                        "I don't play many games other than some light strategy games, but I use AutoCAD for work. Prebuilt Pros gave me a PC that both wasn't overkill and underpowered for what
                        I do." -Kyle
                    </p>
                    <p class="mb-10">
                        "I livestream, edit video, and play a lot of games for my audience online. Prebuilt Pros created a PC
                        perfect for what I do professionally and recreationally." -Vinny
                    </p>
                    <p class="mb-10">
                        "I animate and render complex scenes for clients with
                        Blender. My old computer would take days to complete a scene in high quality. Using Prebuilt Pros, they
                        help me find a computer with the most cores possible for maximum rendering efficiency." -Amy
                    </p>
                </blockquote>
                <hr/>
                <a class="btn btn-primary btn-lg" style="color: white;" href="create-account">Find your ideal PC</a>
            </div>
            <div class="col-6 justify-content-center my-auto">
                <img class="PCExample rounded img-fluid" src="images/pc.jpg">
            </div>
        </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>

