<!--
Hunter Ahlquist
5/8/2021

Final review for information submitted
-->

<!doctype html>
<html lang="en">
<include href="views/header.html"></include>
<body>
<include href="views/nav.html"></include>
    <div class="d-flex justify-content-center">
        <div class="mainBody row rounded">
            <div class="container-flex input-area">
                <div class="row">
                    <div class="col-sm-12">
                        <h1 class="display-3">Review your Profile</h1>
                        <hr>
                    </div>
                </div>
                <form action="#" method="post" class="form-horizontal">
                <div class="row">
                    <div class="col-sm-8">
                        <div class="container-flex info-overview rounded border border-secondary">
                            <p class="container infoLine border border-secondary border-right-0 border-left-0 border-bottom-0 border-top-0">{{ @SESSION.firstname }} {{ @SESSION.lastname }}</p>
                            <p class="container infoLine border border-secondary border-right-0 border-left-0 border-bottom-0">Budget: ${{ @SESSION.budget }}</p>
                            <p class="container infoLine border border-secondary border-right-0 border-left-0 border-bottom-0">Prefered CPU brand: {{ @SESSION.cpubrand }}</p>
                            <p class="container infoLine border border-secondary border-right-0 border-left-0 border-bottom-0">Email address: {{ @SESSION.email }}</p>
                            <p class="container infoLine border border-secondary border-right-0 border-left-0 border-bottom-0">Phone number: {{ @SESSION.phone }}</p>
                            <p class="container infoLine border border-secondary border-right-0 border-left-0 border-bottom-0">State: {{ @SESSION.state }}</p>
                            <p class="container infoLine border border-secondary border-right-0 border-left-0 border-bottom-0">State: {{ @SESSION.city }}</p>
                            <p class="container infoLine border border-secondary border-right-0 border-left-0 border-bottom-0">Zip/Postal code: {{ @SESSION.postal }}</p>
                            <p class="container infoLine border border-secondary border-right-0 border-left-0 border-bottom-0">
                                Uses for computer:
                                <repeat group="{{ @SESSION.interests }}" value="{{ @interest }}">
                                    {{ ucfirst(@interest) }},
                                </repeat>
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="jumbotron privacy-notice">
                            <b>Note: </b> All information entered is subject to our <a href="privacy">privacy policy</a>,
                            and will not be
                            publicly shared.
                        </div>
                        <h3 class="display-6">Shipping address</h3>
                        <div class="container">
                            <p class="border border-secondary rounded">1234 52nd Street SE, Auburn. Apt. D</p>
                        </div>
                    </div>
                </div>
                    <div class="col text-center">
                        <a class="btn btn-primary btn-lg text-white">Find the Perfect Computer</a>
                    </div>
                </form>
            </div>

        </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>

