/**
Hunter Ahlquist
5/8/2021

Current dark style sheet
 */

html, body {
    height: 100%;
    background-color: #292929;
    background-image: url("../images/bg.png");
    background-repeat: repeat;
    color: lightgray;
}

.mainBody {
    padding: 2em;
    margin: 2em;
    width: 75%;
    min-height: 50em;
    background-color: #323232;
    border-color: #444444 !important;
    box-shadow: 20px 20px 60px #0e0e0e, -20px -20px 60px #323232;
}

blockquote {
    font-style: italic;
}

nav {
    background-color: #4a4a4a;
}

hr {
    background-color: lightgray;
}

.input-area {
    margin-left: 5em;
    margin-right: 5em;
    width: 100%;
    height: 100%;
}

.privacy-notice {
    box-shadow: 20px 20px 60px #1f1f1f, -20px -20px 60px #4a4a4a;
    background-color: #4a4a4a;
    padding: 2rem 2rem !important;
    margin-top: 4em;
    margin-bottom: 4em;
}

.control-label {
    margin-top: 0.5em;
    font-size: 16pt;
}

.btn {
    margin: 1em;
}

.interestBox {
    padding: 1em;
    margin: 0.5em;
    background-color: #4a4a4a;
    box-shadow: 4px 4px 20px #1f1f1f, -4px -4px 25px #4a4a4a;
    user-select: none;
}

.info-overview {
    background-color: #323232;
}