html, body {
    height: 100%;
    background-color: #292929;
    background-image: url("../images/bg.png");
    background-repeat: repeat;
    color: lightgray;
}

.mainBody {
    padding: 2em;
    margin: 2em;
    width: 75%;
    background-color: #4a4a4a;
    border-color: #444444 !important;
    box-shadow: 20px 20px 60px #0e0e0e, -20px -20px 60px #323232;
}

blockquote {
    font-style: italic;
}

nav {
    background-color: #4a4a4a;
}

hr {
    color: lightgray;
}